# --- IntelliJ IDEA & Editors ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Maven & Build Artifacts ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# --- Allure Framework ---
.allure/
.allure-results/
allure-results/
allure-report/

# --- Playwright & Test Artifacts ---
.playwright/
screenshots/
videos/
trace/